{{ define "main" }}
<main class="project-grid">

  <h1>{{ .Title }}</h1>
  <p>진행한 주요 프로젝트</p>

  <div class="grid-container">
    {{ range .Pages.ByDate.Reverse }}
      <div class="grid-item">
        <a href="{{ .RelPermalink }}">
          {{ with .Params.image }}
            <img src="{{ .filename | relURL }}" alt="{{ $.Title }}">
          {{ end }}
          <h3>{{ .Title }}</h3>
          {{ with .Params.summary }}
            <p>{{ . }}</p>
          {{ end }}
          {{ with .Params.tags }}
            <span>{{ index . 0 }}</span>
          {{ end }}
        </a>
      </div>
    {{ end }}
  </div>

</main>
{{ end }}
